body{
margin: 0;
background-color: #000;
}

* {
box-sizing: border-box;
}
  
.menu_bar {
display: flex;
flex-wrap: wrap;
height: 8vw;
align-content: space-between;
z-index: 1000;
}
  
.main_icon{
position: fixed;
display: flex;
align-self: center;
margin-left: 48vw;
margin-top: -3.4vw;
z-index: 1000;
}

#abt_poster4{
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    line-height: 2vw;
    /* font-weight: 2vw; */
    font-size: 1,5vw;
    color: #00FF19;
}

#registration{
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    line-height: 2vw;
    /* font-weight: 2vw; */
    font-size: 2vw;
    color: #00FF19;
    margin-bottom: 2%;
}


.big_for_poster{
    flex-direction: row;
    position: relative;
    display: flex;
    width: 90%;
    height: 110%;
    margin-left: 5%;
    margin-top: -3%;
}

.text_n_btn{
    flex-direction: column;
    position: relative;
    display: flex;    
    margin-right: 10%;
    width: 70%;
}


button{
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    line-height: 2vw;
    font-weight: 20px;
    color: #00FF19;
    width: 100%;
    height: 8%;
    font-size: 20px;
    margin-top: 2%;
    padding: 1% 2%;
    border: none;
    background: rgba(128, 255, 0, 0);
    border: 2px solid #00FF19;
}

button:hover{
    background: #00FF19;
    color: #000;
}

.box_for_poster1{
    align-items: center;
    flex-direction: column;
    position: relative;
    display: flex;    
    margin-right: 2%;
    width: 60%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 24%;
    top: 20%;
    width: 50vw;
    overflow: auto;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    line-height: 2vw;
    /* font-weight: 2vw; */
    font-size: 1,5vw;
    color: #00FF19;
}

.modal-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #00FF19;
    width: 50vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    line-height: 2vw; */
    /* font-weight: 2vw;
    font-size: 1,5vw;
    color: #00FF19; */
}


.close {
    /* position: fixed;
    display: block; */
    color: #00ff1aa7;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 95%;
    margin-bottom: -5%;
    /* margin-right: %; */
    z-index: 1000;
}

.close:hover,
.close:focus {
    color: #00FF19;
    text-decoration: none;
    cursor: pointer;
}



#submit_it{
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    line-height: 2vw;
    /* font-weight: 2vw; */
    font-size: 1,5vw;
    color: #000000;
    width: 90%;    
    height: 8%;
    padding: 1% 2%;
    border: none;
    background: #00FF19;
    /* border: 2px solid #00FF19; */

    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 1% 5%;
}



#registration{
    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    line-height: 3vw;
    /* font-weight: 2vw; */
    font-size: 1,5vw;
    color: #00FF19;

    position: relative;
    display: flex;


    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#email-address{
    width: 90%;
    height: 3vw;
    margin-bottom: 2%;
    margin: 1% 5%;


    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    line-height: 2vw;
    /* font-weight: 2vw; */
    font-size: 1,5vw;
}

#mobile_phone{
    width: 90%;
    height: 3vw;
    margin-bottom: 2%;
    margin: 1% 5%;

    font-family: "IBM Plex Mono", monospace;
    font-style: normal;
    line-height: 2vw;
    /* font-weight: 2vw; */
    font-size: 1,5vw;
}

#myForm{
    width: 50vw;
}